
html, body {
    height: 100%;

}

#header {
    position: relative;
    height: 12vh;
    overflow: hidden;
    min-height: 75px;

    background: #33334d;
}

#mainContent {

    position: relative;
    height: 88vh;
    overflow: hidden;

    background: white;
}

#title {

    color: white;
    padding-left: 2vw;

}

