
html, body {
    height: 100%;
    overflow: hidden;
}


.mainContainer {

    height: 100vh;
    background: #150832;
    overflow: hidden;
    position: relative;
}

.headerBar {

    height: 10vh;
    min-height: 75px;
    color: white;
    background-color: #30374f;
}

.headerColumn {

    height: 100%;
    display:table;
}



.title {

    height: 100%;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}

.buttonTable {

    height: 100%;
    position: relative;
}
.buttonRow {

    height: 50%;
}

.buttonColumn {

    height: 100%;
    display:table;
}

.buttonDiv {

    display:table-cell;
    vertical-align:middle;
}

.controlButton {

    border-radius: 0px !important;
}


.mainContent {

    height: 90vh;

}

#drawingArea {

    height: 100%;
    padding: 0px;
}